.parent-container{
  display: flex;
  justify-content: flex-start;
  width: 100%
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 120px 10px 5px 10px;
  width: 20%;
  height: 600px;
}

button {
  width: 200px;
  height: 50px;
}

.top-container {
  width: 70%;
  text-align: center;
}

.top-title {
  justify-content: center;
}

.top-image {
  justify-content: center;
  width: 100%;
  height: auto;
}
